html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #D78656 !important;
    box-sizing: border-box;
}

.main-content {
    width: 100%;
}


header {

    /* Header */

    box-sizing: border-box;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 12px 10px;
    gap: 0px 24px;

    position: absolute;

    height: 75px;
    left: 0px;
    top: 1px;
    width: 100%;
    margin: 0 !important;


    /* Background PETS */
    background: linear-gradient(180deg, #D78656 0%, #995E3B 84%, #55321E 100%);

}

body {
    height: 100vh;
    background-color: #D78656 !important;

}

.login-container {
    height: 100%;
    display: flex;

}

.font-site {
    font-family: "Solway", serif !important;
}

.img-mascota {

    border-radius: 50%;
    width: 40%;
}


.linea {
    color: white;
    border-bottom: 1px solid #000000;
}

.profile-name {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}


.logo-container {
    text-align: center;
    margin-top: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
}

/* Footer Styles */
.footer {
    width: 100%;
    background-color: #9E9494;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 !important;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-left: 3%;
}

.social-icons a {
    color: black;
    font-size: 20px;
}

.social-icons a:hover {
    color: black;
}

.social-icons a i.fab {
    color: black;
}

img.rounded {
    border-radius: 4.25rem !important;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}