<<<<<<< HEAD
.font-site {
    font-family: "Solway", serif !important;
}

body {
    height: 100vh;
    background-color: #D78656 !important;

}

.registro-container {   

    height: 100%;
    display: flex;   
}


=======
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D78656 !important;
    position: relative;
    padding-top: 60px;
}

.registro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
>>>>>>> 6694b3dd63680c5cb48bf6822775ec67bed0bcf3

.logo-container {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
}

.registro-form {
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
}

button {
    width: 100%;
}

.social-login button {
    background: none;
    border: none;
    color: #333;
}

.social-login button:hover {
    background-color: transparent;
    color: #666;
}

input {
    width: 100%;
}

i.fab {
    color: #fff;
}

h1, h2 {
    color: #fff;
}

.footer {
    width: 100%;
    background-color: #9E9494;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-left: 3%;
}

.social-icons a {
    color: black;
    font-size: 20px;
}

.social-icons a:hover {
    color: black;
}

.social-icons a i.fab {
    color: black;
}
