.pet-circle img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pet-circle p {
    margin-top: 5px;
    color: black;
    font-size: 14px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.btn-primary {
<<<<<<< HEAD
    background-color: #117A65; 
}

body {
    font-family: Arial, sans-serif; 
    margin: 0;
}

footer {
    padding: 20px 0; 
=======
    background-color: #117A65; /* Asegúrate de que este es el color deseado */
}

body {
    font-family: Arial, sans-serif; /* Restaurando la fuente */
    margin: 0; /* Eliminando margen por defecto */
}

footer {
    padding: 20px 0; /* Añadiendo padding al footer */
>>>>>>> 6694b3dd63680c5cb48bf6822775ec67bed0bcf3
}


p.text-muted {
    color: white !important;
    
    /* margin-left: -19%; */
}

p.text-muted .resaltar {
<<<<<<< HEAD
    font-weight: bold; 
    font-size: 1.2em; 
    color: white; 
}

div.vermascota {
    margin-top: 90px !important;
}

div.grafica{
    width: 500px !important;
    
}
=======
    font-weight: bold; /* Hace el texto en negrita */
    font-size: 1.2em; /* Aumenta el tamaño del texto */
    color: white; /* Establece el color del texto a blanco */
}
>>>>>>> 6694b3dd63680c5cb48bf6822775ec67bed0bcf3
